#  2.2 Project Planning and Sourcing Data with an API

In [33]:
# Import libraries
import pandas as pd
import numpy as np
import os
import requests
import json
from datetime import datetime

In [2]:
# Step 1: Define your folder path
folderpath = r"C:\Users\hp\Documents\New York’s CitiBike trips in 2022\2022-citibike-tripdata"

In [3]:
# Step 2: Create list of file paths using list comprehension
filepaths = [os.path.join(folderpath, name) for name in os.listdir(folderpath) if name.endswith('.csv')]

In [4]:
# Step 3: Only load 2 files for testing (Jan & Feb)
# Adjust the filenames if needed (check your folder to match exact names)
selected_files = [f for f in filepaths if '202201' in f or '202202' in f]

In [5]:
# Step 4: Load each file with low_memory=False and store in a list
dfs = []
for file in selected_files:
    print(f"Loading {file}...")
    df = pd.read_csv(file, low_memory=False)
    dfs.append(df)

Loading C:\Users\hp\Documents\New York’s CitiBike trips in 2022\2022-citibike-tripdata\202201-citibike-tripdata_1.csv...
Loading C:\Users\hp\Documents\New York’s CitiBike trips in 2022\2022-citibike-tripdata\202201-citibike-tripdata_2.csv...
Loading C:\Users\hp\Documents\New York’s CitiBike trips in 2022\2022-citibike-tripdata\202202-citibike-tripdata_1.csv...
Loading C:\Users\hp\Documents\New York’s CitiBike trips in 2022\2022-citibike-tripdata\202202-citibike-tripdata_2.csv...

In [6]:
# Step 5: Combine both DataFrames
combined_df = pd.concat(dfs, ignore_index=True)

In [8]:
# Step 6: Optional – Sample 10% to reduce memory load
sample_df = combined_df.sample(frac=0.1, random_state=42)

In [9]:
# Step 7: Preview
print("Combined Shape:", combined_df.shape)
print("Sample Shape:", sample_df.shape)
sample_df.head()

Combined Shape: (2221867, 13)
Sample Shape: (222187, 13)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1827451,7938118BD3D3571A,electric_bike,2022-02-19 18:08:14.322,2022-02-19 18:24:19.594,2 Ave & E 104 St,7436.11,Amsterdam Ave & W 136 St,7920.05,40.789211,-73.943708,40.819746,-73.951819,casual
2152340,72C8F07D6FC8A769,electric_bike,2022-02-23 12:51:14.476,2022-02-23 12:57:17.926,8 Ave & W 52 St,6816.07,W 42 St & 6 Ave,6517.08,40.763707,-73.985162,40.754920,-73.984550,member
329569,7B4AC0A81689D5C5,classic_bike,2022-01-01 13:28:31.213,2022-01-01 13:42:25.379,Fulton St & Clermont Ave,4386.05,Warren St & Smith St,4371.01,40.684157,-73.969223,40.685424,-73.991278,member
569129,9251D82B814304B5,electric_bike,2022-01-26 16:43:24.188,2022-01-26 16:45:54.044,E 56 St & 3 Ave,6691.11,E 58 St & 1 Ave (NE Corner),6682.03,40.759345,-73.967597,40.758924,-73.962262,member
131172,8C95AA4E5C18642D,classic_bike,2022-01-15 09:57:41.860,2022-01-15 10:05:05.645,E 138 St & 5 Av,7809.13,Frederick Douglass Blvd & W 145 St,7954.12,40.814490,-73.936153,40.823061,-73.941928,member

In [34]:
# Step 1: Get all CSV file paths in the folder (only Jan & Feb to avoid large memory load)
filepaths = [os.path.join(folderpath, name) for name in os.listdir(folderpath) if name.endswith('.csv') and ('202201' in name or '202202' in name)]

In [35]:
# Step 2: Read each file into a DataFrame and store them in a list
df_list = [pd.read_csv(path, low_memory=False) for path in filepaths]

In [36]:
# Step 3: Combine the DataFrames into one
sample_df = pd.concat(df_list, ignore_index=True)

In [37]:
# Step 4: Preview the result
print(f"Sampled shape: {sample_df.shape}")
sample_df.head()

Sampled shape: (2221867, 13)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BFD29218AB271154,electric_bike,2022-01-21 13:13:43.392,2022-01-21 13:22:31.463,West End Ave & W 107 St,7650.05,Mt Morris Park W & W 120 St,7685.14,40.802117,-73.968181,40.804038,-73.945925,member
1,7C953F2FD7BE1302,classic_bike,2022-01-10 11:30:54.162,2022-01-10 11:41:43.422,4 Ave & 3 St,4028.04,Boerum Pl\t& Pacific St,4488.09,40.673746,-73.985649,40.688489,-73.991160,member
2,95893ABD40CED4B8,electric_bike,2022-01-26 10:52:43.096,2022-01-26 11:06:35.227,1 Ave & E 62 St,6753.08,5 Ave & E 29 St,6248.06,40.761227,-73.960940,40.745168,-73.986831,member
3,F853B50772137378,classic_bike,2022-01-03 08:35:48.247,2022-01-03 09:10:50.475,2 Ave & E 96 St,7338.02,5 Ave & E 29 St,6248.06,40.783964,-73.947167,40.745168,-73.986831,member
4,7590ADF834797B4B,classic_bike,2022-01-22 14:14:23.043,2022-01-22 14:34:57.474,6 Ave & W 34 St,6364.10,5 Ave & E 29 St,6248.06,40.749640,-73.988050,40.745168,-73.986831,member

In [38]:
# This script imports and combines CitiBike data from January and February 2022.
# 
# 1. The folderpath variable stores the path to the folder containing the CSV files.
# 2. A list comprehension creates a list of full file paths.
# 3. The pd.read_csv() function reads each CSV into a DataFrame, and all are stored in a list called df_list.
# 4. The pd.concat() function combines all DataFrames into a single DataFrame named sample_df.
# 5. Finally, we check the shape and preview the data to confirm successful loading.

###  New York LaGuardia’s weather station

In [18]:
# NOAA API setup
token = 'EejUwHttmlpiQUGBiCSxCZKhhhRxpoKR'
headers = {'token': token}

In [19]:
# API parameters
params = {
    'datasetid': 'GHCND',
    'stationid': 'GHCND:USW00094789',
    'startdate': '2022-01-01',
    'enddate': '2022-12-31',
    'datatypeid': 'TAVG',
    'limit': 1000,
    'units': 'metric'
}

In [20]:
# Make request
url = 'https://www.ncei.noaa.gov/cdo-web/api/v2/data'
response = requests.get(url, headers=headers, params=params)

In [21]:
# Parse JSON response
data = response.json()

In [22]:
# Extract date and temperature
dates_temp = [item['date'] for item in data['results']]
temps = [item['value'] for item in data['results']]

In [23]:
# Build DataFrame
df_temp = pd.DataFrame()
df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S").date() for d in dates_temp]
df_temp['avgTemp'] = [float(t)/10.0 for t in temps]  # NOAA gives temp in tenths of °C

In [41]:
df_temp.tail()

           date  avgTemp
360  2022-12-27    -0.09
361  2022-12-28     0.21
362  2022-12-29     0.37
363  2022-12-30     0.54
364  2022-12-31     0.79

In [42]:
df_temp.head()

         date  avgTemp
0  2022-01-01     1.01
1  2022-01-02     1.15
2  2022-01-03     0.12
3  2022-01-04    -0.38
4  2022-01-05     0.25

In [24]:
# Export to CSV
df_temp.to_csv('weather_lga_2022.csv', index=False)
print("✅ Weather data saved as 'weather_lga_2022.csv'")

✅ Weather data saved as 'weather_lga_2022.csv'

###  Merge both data sets

In [28]:
# Convert 'started_at' to datetime and extract date
df['started_at'] = pd.to_datetime(df['started_at'])
df['date'] = df['started_at'].dt.date

In [29]:
# Load weather data
df_temp = pd.read_csv("weather_lga_2022.csv")
df_temp['date'] = pd.to_datetime(df_temp['date']).dt.date

In [30]:
# Merge on 'date'
df_merged = df.merge(df_temp, how='left', on='date')

In [46]:
%%time
df_merged = df.merge(df_temp, how='left', on='date', indicator=True)

CPU times: total: 188 ms
Wall time: 209 ms

In [47]:
df_merged['_merge'].value_counts(dropna=False)

_merge
both          197311
left_only          1
right_only         0
Name: count, dtype: int64

In [31]:
# Export final merged file
df_merged.to_csv("citibike_with_weather_2022.csv", index=False)
print("✅ Merged file saved to citibike_with_weather_2022.csv")

✅ Merged file saved to citibike_with_weather_2022.csv

In [32]:
import os
os.getcwd()

'C:\\Users\\hp\\Documents\\New York’s CitiBike trips in 2022'